<!DOCTYPE html>
{% load static %}
<html>
	<head>
		<title>Index</title>
        <link rel="stylesheet" href="{% static "css/index.css" %}" />
	</head>

	<body>
        <img src="{% static 'images/cat.jpg'%}" alt="Picture of a cat"/>

		<h1>The students and their cats are: </h1>
		<div>
        {% if students %}
            <ul>
                {% for student in students %}
                <li>{{ student.first_name }} {{student.last_name}} has {{student.num_cats}} cats</li>
                    {% for cat in cats %}   
                        {% if student == cat.owner %}
                            <ul>
                            <li>{{ cat }}</li>
                            </ul>
                            {% endif %}
                    {% endfor %}
                {% endfor %}
            </ul>
		{% endif %}
        </div>
		<div>
			<a href="/cats/about/">About Pets of Students</a><br />
		</div>
	</body>
</html>